################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlatformDemo/obj
/PlatformDemo/bin/Debug/net6.0
